body{
  background: beige;
  color: aliceblue;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  
}

.main-landing {
  height: 100vh;
  width: 100%;
  background-image: url(/assets/bkgrd_abstract.jpg);
  background-size: 1200px;
  
}
.hero {
  padding: 1em;
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
}

.hero-text-design {
  font-family: 'Homemade Apple', cursive;
  font-size: 3rem;
}

.hero-text-code {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
}

.hero-text {
  font-size: 1.5em;
}

